@charset "UTF-8";

//メインカラー
$main: #004F80;
$bg: #FFFFFF; //背景色
$white: #FFFFFF; //各所白色

//文字カラー
$text1: #333333; //黒文字
$text2: #666666; //グレー文字（白のボタン）
$text3: #FFFFFF; //白文字
$text4: #FFFFFF; //text2以外のボタンの文字カラー

//赤色→取消ボタン、報告未、未読、カレンダー今日の印、申請却下
$red: #E52D5F;

//アクセントカラー
$t-bg: #B2E1FF; //本日の現場の背景色
$ac1: #2A23D5; //TOPページ上下番ボタンの色、申請受理
$ac2: #C7802F; //出発報告の色、現場なし時の上番報告ボタンの色、申請中
$ac3: #148B4C; //定時報告の色、現場なし時の下番報告ボタンの色

//シフトのカラー
$mor: #5EAC25; //午前
$eve: #0F0080; //午後
$all: #B30036; //24時間

//フォントサイズ
$sm: 1.4rem;
$md: 1.7rem;
$lg: 2.0rem;
$xl: 2.3rem;
$xxl: 3.0rem;
