<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>MainServlet</servlet-name>
  	<description>メイン画面</description>
  	<servlet-class>jp.example.www.MainServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SelectTest</servlet-name>
  	<display-name>SelectTest</display-name>
  	<description></description>
  	<servlet-class>jp.example.www.SelectTest</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SelectTest2</servlet-name>
  	<display-name>SelectTest2</display-name>
  	<description></description>
  	<servlet-class>jp.example.www.SelectTest2</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DispatchTest</servlet-name>
  	<display-name>DispatchTest</display-name>
  	<description></description>
  	<servlet-class>jp.example.www.DispatchTest</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SessionTest</servlet-name>
  	<display-name>SessionTest</display-name>
  	<description></description>
  	<servlet-class>jp.example.www.SessionTest</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Login</servlet-name>
  	<display-name>Login</display-name>
  	<description>ログイン画面制御</description>
  	<servlet-class>mobile.Login</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AttendList</servlet-name>
  	<display-name>AttendList</display-name>
  	<description></description>
  	<servlet-class>mobile.AttendList</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AttendDetail</servlet-name>
  	<display-name>AttendDetail</display-name>
  	<description></description>
  	<servlet-class>mobile.AttendDetail</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>WorkStartConfirm</servlet-name>
  	<display-name>WorkStartConfirm</display-name>
  	<description></description>
  	<servlet-class>mobile.WorkStartConfirm</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>WorkEndConfirm</servlet-name>
  	<display-name>WorkEndConfirm</display-name>
  	<description></description>
  	<servlet-class>mobile.WorkEndConfirm</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>WorkStartExecute</servlet-name>
  	<display-name>WorkStartExecute</display-name>
  	<description></description>
  	<servlet-class>mobile.WorkStartExecute</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>WorkEndExecute</servlet-name>
  	<display-name>WorkEndExecute</display-name>
  	<description></description>
  	<servlet-class>mobile.WorkEndExecute</servlet-class>
  </servlet>

  <servlet-mapping>
  	<servlet-name>MainServlet</servlet-name>
  	<url-pattern>/MainServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SelectTest</servlet-name>
  	<url-pattern>/SelectTest</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SelectTest2</servlet-name>
  	<url-pattern>/SelectTest2</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DispatchTest</servlet-name>
  	<url-pattern>/DispatchTest</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SessionTest</servlet-name>
  	<url-pattern>/SessionTest</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Login</servlet-name>
  	<url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AttendList</servlet-name>
  	<url-pattern>/AttendList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AttendDetail</servlet-name>
  	<url-pattern>/AttendDetail</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>WorkStartConfirm</servlet-name>
  	<url-pattern>/WorkStartConfirm</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>WorkEndConfirm</servlet-name>
  	<url-pattern>/WorkEndConfirm</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>WorkStartExecute</servlet-name>
  	<url-pattern>/WorkStartExecute</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>WorkEndExecute</servlet-name>
  	<url-pattern>/WorkEndExecute</url-pattern>
  </servlet-mapping>

</web-app>
